
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(24, 24, 24);
    color: white;
    padding: 10px;
    animation-name:nav;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    transform-origin: top;
}

@keyframes nav {
   from {
       transform:translateY(-200px);
   }

   to {
       transform:translateY(0px);
   }


}
.logo{
    font-family: "Sofia", cursive;
    font-weight: 900;
    font-style: normal;
    font-size: 30px;
    
}
.menu ul{
    display: flex;
    list-style: none;
    gap: 20px;
    color: white;
}
.menu ul li a{
    color: white;
    text-decoration: none;
}
.menu li a:hover{
    color: silver;
}
.icon{
    width: 35px;
    filter: invert();
}
.icon img{
    width: 100%;
}
.parag ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style:none;
    gap: 20px;
    display: none;
}
.parag li{
    width: 35px;
}
.parag img{
   width: 100%;
}
.icon{
    filter: invert();
}
.show{
    position: relative;
    flex-wrap: wrap;
}
.show ul{
    flex-wrap: wrap;
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: rgb(24, 24, 24);
    width: 200px;
    top: 50px;
    height: 500px;
    gap: 40px;
    bottom: 80px;
}
.show ul img{
    filter: invert();
    
}